<mat-nav-list>
  <h2 mat-subheader>Project</h2>
  <mat-list-item >
    <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
    <span mat-line>Project Page</span>
    <span mat-line mat-subheader>All Projects</span>
  </mat-list-item>
  <mat-list-item >
    <mat-icon mat-list-icon svgIcon="month"></mat-icon>
    <span md-line>Month View</span>
    <span md-line md-subheader>Projects</span>
  </mat-list-item>
  <mat-list-item >
    <mat-icon md-list-icon svgIcon="week"></mat-icon>
    <span md-line>Week View</span>
    <span md-line md-subheader>Projects</span>
  </mat-list-item>
  <mat-list-item >
    <mat-icon md-list-icon [svgIcon]=today></mat-icon>
    <span md-line>Day View</span>
    <span md-line md-subheader>Projects</span>
  </mat-list-item>
</mat-nav-list>