<form action="">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field floatLabel="never">
        <input matInput class="full-width" type="text" placeholder="Email Address">
      </mat-form-field>
      <mat-form-field floatLabel="never">
        <input matInput class="full-width" type="password" placeholder="your password">
      </mat-form-field>
      <button mat-button type="button">Login</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Do not have an account?<a routerLink="/register">Register</a></p>
      <p>Forget Password?<a href="">Get Back</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>我就是爱你heaven hu</mat-card-title>
      <mat-card-subtitle>好想你</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image src="/assets/portrait.jpg" alt="">
    <mat-card-content>
      
      Satisfication lies in the effort
    </mat-card-content>
  </mat-card>
  
</form>